<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424146220105-6o3hrg51en3bg4jn973bror3ku135bjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424146220105-6o3hrg51en3bg4jn973bror3ku135bjp</string>
	<key>API_KEY</key>
	<string>AIzaSyB3f9ih8tX6IDVuPJ6Pa9OGBWZ2Yp7O4ss</string>
	<key>GCM_SENDER_ID</key>
	<string>424146220105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-dg</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-dg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424146220105:ios:4ba74df1daeb894ec4fb98</string>
</dict>
</plist>